.contain { padding-top: 40px; }
.ruby-hash-key{
  color: #0086B3;
}
.ruby-hash-sym{
  color: #006a00;
}
.ruby-hash-value{
  color: #aa0d91;
}

.qingming {
  width:20000px;
  margin:0px;
  img {
    float:left;
    margin:0px;
  }
}
